@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: background 0.3s ease, color 0.3s ease;
}
@keyframes shine {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}
